*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightskyblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.container{
    min-width: 60%;
    max-width: 400px;
    background: rgba(255, 255, 255, .2);
    padding: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    transition: all 0.5s ease;
}
.container img{
    width: 50px;
    margin: auto;
}
.ratings-container{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.rating{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 10px;
    margin: 10px 5px;
}
.rating:hover,
.rating.active{
    cursor: pointer;
    background: lightseagreen;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    transition: all 300ms ease;
}

.btn{
    cursor: pointer;
    padding: 10px 30px;
    background: lightseagreen;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
}
.btn:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    color: aliceblue;
}
.btn:active{
    transform: scale(0.9);
    transition: all 300ms ease;
}